body {
    background: url(https://i.insider.com/5ba9500033db9edd4b8b456a?width=1100&format=jpeg&auto=webp);
  background-size: cover;
  background-repeat: no-repeat;
}




h1 {
    text-align: center;
    background-color: brown; 
    text-shadow: 0 1px;
    font-size: 40px;
    font-family: cursive;
  }
.home-bars {
    text-align: right;
}

ul {
  background-color: #FE9A2E;
}


#submit {
  background-color: #FA5882;
  color: #819FF7;

}
img {
  width: 20%;
  height: 20%;

}